html, body{
	height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
	font-size: var(--fontNormSize);
    color: #E2E3E5;
}







::-webkit-scrollbar-track {
    background-color: #689CD2;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
/*

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-settings a{
    display: flex;
    flext-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #689CD2;
    text-decoration: none;
    text-transform: uppercase;
}

.header-settings a:hover{
    background: rgb(31, 115, 204);
    color: #fff;
}

.header-settings ul{
    list-style: none;
    display: flex;
}

.header-settings ul li{
    position: relative;
    width: 100%;
    text-align: center;
}

.header-settings li:hover .dropdown > li{
    top: 0;
    display: block;
}

.dropdown ul li{
    display: none;
    position:relative
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}






.menubtn {
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.topmenu {
    position: absolute;
    display: inline-block;
}
.dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #689CD2;
    min-width: 200px;
}
.dropdown a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.topmenu:hover .dropdown {
    display: block;
}
*/

