.messageWrap{
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 20px 10px;
}

.messageItem{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 10px;
    float: right;
    border-radius: 15px;
    padding: 10px;
    max-width: 80%;
    word-break: break-word;
}

.inner {
    padding: 4px 8px;
    background-color: #29384B;
    border-radius: .4em;
    color: #fff;
}
.message{
    color: #fff;
}


.timestamp{
    font-size: 10px;
    padding: 4px 8px;
    color: #999;
    align-self: flex-end;
}

.attachments {
    display: flex;
    flex-flow: column;
}

.attachment {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	box-shadow: 0 0 5px 0 #333;
	overflow: hidden;
}

.geolocation {
	background-image: url(https://image.flaticon.com/icons/svg/854/854878.svg);
}

.image {
	height: 300px;
	max-width: 100%;
	min-width: 180px;
	flex: auto;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #333;
	margin-bottom: 10px;
}

.audioStatus {
	width: 70px;
	height: 30px;
	filter: invert(1);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.audioPlay {
	background-image: url(https://image.flaticon.com/icons/svg/149/149657.svg);
}

.audioStop {
	background-image: url(https://image.flaticon.com/icons/svg/18/18141.svg);
}
