html, body {
	min-width: 300px;
}

* {
	margin: 0;
	padding: 0;
	--fontNormalSize: 1.1em;
	--fontMinSize: 0.95em;
	--fontMaxSize: 1.2em;
	--fontMinMinSize: 0.8em;
	box-sizing: border-box;
	user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: unsert;
    text-decoration: none;
}

li {
	list-style: none;
}